body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  color: white;
}

.box {
  flex: 2 1 auto;
}

/* 첫번째 박스 - 이름 */
.box:first-child {
  padding-top: 70px;
}

.box:first-child > h1 {
  color: white;
}
.login {
  height: 10px;
  display: flex;
  flex-direction: column;
}

.textbox {
  padding: 10px;
}

.textbox::placeholder {
  text-align: center;
  font-size: 15px;
}

/* 두번째 박스 -시간 날짜 날씨 */
.box:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
  font-size: 50px;
  font-weight: 1000;
}
#date {
  font-weight: 500;
}
#weather {
  font-weight: 500;
}

/* 세번째 박스 - 투두리스트*/
.box:nth-child(3) {
  width: 100%;
  border-top: 1px solid black;
}
#todo_input {
  width: 100%;
  text-align: center;
}
#todo_ul {
}
#todo_ul > li {
  margin-right: 20px;
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
#todo_ul > li > button {
  background-color: white;
  height: 20px;
  border: 0;
  outline: 0;
  margin-left: 5px;
  border-radius: 6px;
}
/* 공용 */
.hidden {
  display: none;
}
