body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  flex: 2 1 auto;
}

/* 첫번째 박스 - 이름 */
.box:first-child {
  padding-top: 70px;
}

.login {
  height: 10px;
  display: flex;
  flex-direction: column;
}

.textbox {
  padding: 10px;
}

.textbox::placeholder {
  text-align: center;
  font-size: 15px;
}

/* 두번째 박스 -시간 날짜 날씨 */
.box:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clock {
  font-size: 50px;
  font-weight: 1000;
}
#date {
  font-weight: 500;
}
#weather {
  font-weight: 500;
}

/* 세번째 박스 - 투두리스트*/
.box:nth-child(3) {
  width: 100%;
  border-top: 1px solid black;
}

/* 공용 */
.hidden {
  display: none;
}
